.reputation {
    height: 15.625rem;
    width: 100%;
    background-color: silver;
    display: flex;
    flex-direction: column;

    &__title {
        margin: 0;
        padding: 1rem;
    }

    &__input {
        padding: 0 1rem;
        &-slider {
            width: 100%;
            
        }
    }
}