.homepage {

    &__container {
        height: 28.125rem;
        background-color: #3C4662;
        padding: 1rem;

        &-background {
            height: 25rem;
            background-color: rgba($color: #4B4A54, $alpha: 1.0);
            border-radius: 1.25rem;
        }
    }
}